.slider {
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-image: none;
  overflow: hidden;
}

.slide {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  min-width: 100%;
  align-items: center;
  transition: 1.5s;
  box-sizing: border-box;
  transform: translateX(100%);
  color: white;
}
